/* Initial body */
body {
  left: 0;
  margin: 0;
  position: relative;
  background-color: #fefefe;
}

/* Initial menu */
.menu {
  background: #202024 repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

/* Basic styling */

.jumbotron {
  background-image: url('img/naturebox-snacks.jpg'); 
  height: 700px;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.jumbotron h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
  color: white;
  text-align: center;
  padding: 20px;
  width: auto;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
  padding-top: 60px
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
  text-shadow: 1px 2px 6px #000;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:hover {
  color: orange;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}



.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
}

.icon-menu i {
  margin-right: 5px;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  text-align: center;
  margin: 0px;
  color: #2E2E2E;
}

/* .line {
  position: absolute;
  display: inline;
  text-align: center;
  height: 5px;
  border-bottom: 1px solid black;
  width: 600px;
} */

.social-section {
  margin: 20px;
  padding: 1px;
}

/* border: 20px solid #E6E6E6; */

.carousel {
  text-align: center;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;
}



.slick-prev:before, .slick-next:before {
  color: black;
  text-shadow: 1px 1px 2px #000;
}

.social {
  padding: 1px;
}


.twitter-tweet {
  width: 300px;
  height: 500px;
}




